<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th class="center">Name</th>
      <th class="center">Cuisine</th>
      <th class="center">Rating</th>
      <th class="center">Accepts 10bis?</th>
      <th class="center">Address</th>
      <th class="center">Max Delivery Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td class="center"><%= restaurant.name %></td>
        <td class="center"><%= restaurant.cuisine %></td>
        <td class="center"><%= restaurant.rating %></td>
        <td class="center"><%= restaurant.tenbis %></td>
        <td class="center"><%= restaurant.address %></td>
        <td class="center"><%= restaurant.max_time %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
